@charset "UTF-8";

a {
	text-decoration: none;
}

#sidebar, #debug, #reply, #textarea, #page_list, #topic_list,
	select, textarea, button, input {
	display: none;
}

.author .user {
	font-weight: bold;
}
