@charset "UTF-8";
@import url('scripts/mooeditable/MooEditable.css');
@import url('scripts/mooeditable/MooEditable.Extras.css');

html {
	font: normal .75em Verdana, sans-serif;
}

a {
	text-decoration: none;
}

body {
	width: 82em;
	margin: 0 auto;
}

textarea {
	font: normal 1em Verdana, sans-serif;
}

#header {
	font: normal 3em "Trebuchet MS";
	margin: .3em 0 2.6em 0;
}

h2, .page_title {
	font: normal 2em "Trebuchet MS";
}

#menu {
	list-style: none;
	padding: 0;
	clear: both;
}

#menu li {
	float: left;
	margin: 0 2px 2px 0;
}

#menu a {
	display: block;
	padding: .5em;
	width: 10em;
	text-align: center;
	background: #eee;
}

table {
	border-collapse: collapse;
}

thead th {
	border-bottom: solid 1px #000;
	text-align: left;
}

tbody tr:hover {
	background: #DBEBF9;
}

td, th {
	padding: .2em;
	width: 12em;
}

#login {
	background: #eee;
	padding: .5em 1em;
	clear: both;
}

.error {
	background: #fcc;
	padding: .5em 1em;
	margin-left: 1em;
}

.hidden {
	display: none;
}

#footer {
	font-size: .75em;
	background: #eee;
	padding: 1em;
	clear: both;
}

#forum, #pages {
	clear: both;
}

#forum h2, #pages h2 {
	margin: 0 0 1em 0;
}

/*
#topics, #posts, #page_list, #page {
	width: 50%;
	float: left;
}
*/
#topics, #posts {
	width: 50%;
	float: left;
}

.author {
	font-weight: bold;
	border-bottom: solid 1px #000;
}

.author .user {
}

.author .date, .allowed_tags {
	font: normal .75em Verdana, sans-serif;
}

.editing {
	background: #fcc !important;
}

#sidebar {
	position: absolute;
	top: 4.2em;
	width: 82em;
}

button {
}
