html {
	font: normal .75em Verdana, sans-serif;
}

a {
	text-decoration: none;
}

body {
	width: 82em;
	margin: 0 auto;
}

#header {
	font: normal 2em Verdana;
	margin-bottom: 4em;
}

#menu {
	list-style: none;
	padding: 0;
	clear: both;
}

#menu li {
	float: left;
	margin: 0 2px 2px 0;
}

#menu a {
	display: block;
	padding: .5em;
	width: 10em;
	text-align: center;
	background: #eee;
}

table {
	border-collapse: collapse;
}

thead th {
	border-bottom: solid 1px #000;
	text-align: left;
}

tbody tr:hover {
	background: #DBEBF9;
}

td, th {
	padding: .2em;
	width: 12em;
}

#login {
	background: #eee;
	padding: .5em 1em;
	clear: both;
}

.error {
	background: #fcc;
	padding: .5em 1em;
	margin-left: 1em;
}

.hidden {
	display: none;
}

#footer {
	font-size: .75em;
	background: #eee;
	padding: 1em;
	clear: both;
}

#forum {
	clear: both;
}

#topics, #posts {
	width: 50%;
	float: left;
}

.author {
	font-weight: bold;
	border-bottom: solid 1px #000;
}

.author .user {
}

.author .date, .allowed_tags {
	font: normal .75em Verdana, sans-serif;
}

#editable {
	background: #fcc;
}

#sidebar {
	position: absolute;
	top: 4em;
	width: 82em;
}
