html {
	font: normal .75em Verdana, sans-serif;
}

a {
	text-decoration: none;
}

#header {
	font: normal 2em Verdana;
}

#menu {
	list-style: none;
	padding: 0;
	clear: both;
}

#menu li {
	float: left;
	margin: 0 2px 2px 0;
}

#menu a {
	display: block;
	padding: .5em;
	width: 10em;
	text-align: center;
	background: #eee;
}

table {
	border-collapse: collapse;
}

thead th {
	border-bottom: solid 1px #000;
	text-align: left;
}

tbody tr:hover {
	background: #DBEBF9;
}

td, th {
	padding: .2em;
	width: 6em;
}

#login {
	background: #eee;
	padding: .5em;
	clear: both;
}

.error {
	background: #fcc;
	padding: .5em;
}
