@charset "UTF-8";
@media print {

html {
	font-size: 1em;
}

a {
	text-decoration: none;
}

#sidebar, #debug, #reply, #textarea, #page_list, #topic_list,
	select, textarea, button, input,
	#pages .cat_title, #forum .cat_title, .cat_desc {
	display: none;
}

#header {
	margin-bottom: 1em;
}

.author .user {
	font-weight: bold;
}

}
