@charset "UTF-8";

html {
	font: normal .75em Verdana, sans-serif;
}

a {
	text-decoration: none;
}

body {
	width: 82em;
	margin: 0 auto;
}

textarea {
	font: normal 1em Verdana, sans-serif;
}

#header {
	font: normal 3em "Trebuchet MS", sans-serif;
	margin: .3em 0 2.6em 0;
}

#desc {
	font-size: .5em;
}

h2, .page_title {
	font: normal 2em "Trebuchet MS", sans-serif;
}

#menu {
	list-style: none;
	padding: 0;
	clear: both;
}

#menu li {
	float: left;
	margin: 0 2px 2px 0;
}

#menu a {
	display: block;
	padding: .5em;
	width: 9em;
	text-align: center;
	background: #eee;
}

table {
	border-collapse: collapse;
}

thead th {
	border-bottom: solid 1px #000;
	text-align: left;
}

tbody tr:hover {
	background: #DBEBF9;
}

td, th {
	padding: .2em;
	width: 19em;
	height: 2.2em;
}

#login {
	background: #eee;
	padding: .5em 1em;
	clear: both;
}

.error {
	background: #fcc;
	padding: .5em 1em;
	margin-left: 1em;
}

.hidden {
	display: none;
}

#footer {
	font-size: .75em;
	background: #eee;
	padding: 1em;
	clear: both;
}

#forum h2, #pages h2 {
	margin: 0 0 1em 0;
}

#page_list, #topic_list {
	margin-bottom: 2em;
	padding: 1em;
	background: #eee;
}

#page, #post_list {
	width: 85%;
}

.author {
	font-weight: bold;
	border-bottom: solid 1px #000;
}

.author .user {
}

.author .date, .allowed_tags {
	font: normal .75em Verdana, sans-serif;
}

.editing {
	background: #fcc !important;
}

#sidebar {
	position: absolute;
	top: 4.2em;
	width: 82em;
}

.post {
	padding: .5em;
}

.post:hover {
	background: #DBEBF9;
}

select, input, button {
	font-size: 1em;
}

pre {
	font: normal 1.1em "Courier New", monospace;
}

#register label, #profile label {
	display: block;
	float: left;
	margin-top: .5em;
	width: 7em;
}

#register input, #profile input {
	margin: .2em;
	font-size: 1em;
}

#register pre {
	font: normal 1em Verdana, sans-serif;
}

.cat_desc {
	margin-top: -1em;
}

input:focus, textarea:focus {
	border: solid 2px #555;
}
